body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
header {
  background-color: #222;
  color: white;
  padding: 1em;
  text-align: center;
}
main {
  padding: 2em;
}
h2 {
  color: #333;
}
.event, .collapsible {
  margin: 0.5em 0;
  padding: 0.5em;
  background: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}
.event a {
  color: #000;
  text-decoration: none;
}
.event:hover {
  background: #d5d5d5;
}
.content {
  display: none;
  margin-left: 1em;
  margin-top: 0.5em;
}
.content a {
  display: block;
  margin: 0.25em 0;
}
